.section_tienda{
    padding-top: 8rem;
}

.titulo_tienda{
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 2.2rem;
    font-weight: 500;
}

.sub_tienda{
    font-size: 1.2rem;
}

.sub_tienda a{
    color: black;
    margin-left: .5rem;
    font-weight: 600;
    text-decoration: underline;
}

.img_prod{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont_productos{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3rem;
}
.cont_prod{
    border: 1px rgba(0, 0, 0, 0.2) solid;
    width: 95%;
    /*height: 25rem;*/
    justify-self: center;
    margin-bottom: 2rem;
}

.cont_img_prod{
    height: 15rem;
}

.cont_desc_prod{
    min-height: 5rem;
    padding-left: 1rem;
}

.grid_prods{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulo_prod{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: initial;
}

.ul_desc_prod{
    margin-top: 1rem;
    padding-left: 0;
    list-style-type: none;
}

.li_desc_prod{
    text-align: initial;
    font-size: .8rem;
}

.icon_li{
    width: 15px;
}

@media (max-width: 1400px){
    .cont_img_prod{
        height: 13rem;
    }
}

@media (max-width: 1150px){
    .grid_prods{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px){
    .grid_prods{
        grid-template-columns: 1fr;
    }

    .titulo_tienda{
        font-size: 1.8rem;
    }

    .sub_tienda{
        font-size: 1rem;
    }
}